# Terraform
.terraform/

# State files
*.tfstate
*.tfstate.*

# Crash logs
crash.log
crash.*.log

# Plan files
*.tfplan

# Variable files (may contain secrets)
terraform.tfvars
*.tfvars
*.tfvars.json

# Lock file
.terraform.lock.hcl

# CLI config
.terraformrc
terraform.rc

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json